.burger {
    height: 16px;
    width: 30px;
    justify-content: center;
    align-items: center;
    z-index: 350;
    cursor: pointer;
    transition: all .3s;
    display: none;
    position: relative;

    span {
        position: absolute;
        background: #fff;
        height: 3px;
        width: 30px;
        display: block;
        transition: all .3s;
        border-radius: 5px;

        &:nth-child(1) {
            top: 16px;
        }

        &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
        }

        &:nth-child(3) {
            bottom: 16px;
        }
    }

    &.active {
        span {
            &:nth-child(1) {
                top: 6px;
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                bottom: 7px;
                transform: rotate(-45deg);
            }
        }
    }
}