.about {
    padding-top: 0;
    margin-top: -3.3854vw;
    &.about-mt-not {
        margin-top: 0;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5.2083vw;
    }
    &.about-two {
        margin-top: 0;
        padding-bottom: 0;
        .about-wrap {
            background: #ffffff;
        }
        .ofer-block {
            max-width: 35.5208vw;
        }
    }
}

.about-wrap {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #f3f6fb 100%
    );
    padding: 6.7708vw 0;
}

.about__img {
    z-index: 2;
    width: 31.4583vw;
    height: 33.8542vw;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.625vw;
    }
    &::before {
        background: #e2e7f0;
    }
}

.about-advant {
    margin-top: 2.4479vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5208vw;
}
.about-advant-item {
    background: #f3f6fb;
    border-radius: 0.625vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 17.9688vw;
    height: 9.4792vw;
    h3 {
        font-weight: 700;
        background: linear-gradient(99.75deg, #6a60cc 59.86%, #4d4bb4 59.91%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            width: 1.8229vw;
            height: 0.1563vw;
            background: linear-gradient(
                224.75deg,
                #361b89 10.62%,
                #593dae 90.21%
            );
            border-radius: 0.625vw;
            left: 50%;
            transform: translateX(-50%);
            top: calc(100% + 0.7813vw);
        }
    }
    div {
        font-weight: 700;
        font-size: 0.8333vw;
        line-height: 1.0938vw;
        color: #4f5561;
        margin-top: 1.5625vw;
    }
}

@media (max-width: $table) {
    .about .container {
        flex-direction: column;
    }
    .about__img {
        width: 68.4583vw;
        height: 73.8542vw;
    }
    .about.about-two .ofer-block {
        max-width: 100%;
    }
    .about-advant-item {
        width: 100%;
        height: 20.4792vw;
    }
    .about-advant {
        width: 100%;
        margin-top: 7.4479vw;
    }
    .about-advant-item div {
        font-size: 2.8333vw;
        line-height: 9.0938vw;
    }
    .about-advant-item h3::before {
        top: calc(100% + 1.7813vw);
        width: 6.8229vw;
        height: 0.2vw;
    }
    .page {
        .block-ban {
            height: auto;
            padding: 5vw 0;
        }
    }
}
