.block-ban {
    position: relative;
    height: 13.6979vw;
    margin-top: -1px;
    overflow: hidden;
    padding: 1vw 0;
    > img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
        z-index: -1;
    }
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        height: 100%;
        h1 {
            font-weight: 700;
            color: #ffffff;
            margin-top: 1.0417vw;
        }
    }
    .logo {
        position: absolute;
        right: 2.8125vw;
        top: 0;
    }
}

.block-ban-big {
    height: 33.0208vw;
}

.block-ban__wrapper {
    display: flex;
    align-items: center;
    text-align: right;
    gap: 1.0417vw;
    .bootom {
        background: #ffffff;
        border-radius: 0.625vw;
        min-height: 9.9479vw;
        padding: 2.6042vw 2.0833vw;
        margin-top: 2.6042vw;
        h3 {
            color: #4f5561;
        }
        p {
            font-weight: 400;
            color: #666c77;
            margin-top: 1.5625vw;
        }
    }
}
.block-ban__img {
    width: 34.375vw;
    height: 33.8021vw;
    object-fit: cover;
}

@media (max-width: $table) {
    .block-ban__wrapper {
        flex-direction: column-reverse;
    }
    .page .block-ban-big {
        padding-bottom: 0;
    }
    .block-ban__img {
        width: auto;
        height: 95.8021vw;
    }
    .block-ban-big .container h1 {
        margin-top: 6.0417vw;
    }
    .block-ban__wrapper .bootom {
        margin-top: 6.6042vw;
        padding: 3.4vw;
    }
}
