.breadcrumbs {
    position: relative;
    z-index: 5;
    &__item {
        display: inline-block;
        padding-right: 0.625vw;
        position: relative;

        a,
        span {
            font-weight: 400;
            font-size: 0.8333vw;
            line-height: 1.5625vw;
            color: #ffffff;
            transition: all 0.3s;
        }

        span {
            color: #a3aab7;
        }

        a {
            &:hover {
                text-shadow: 0.5px 0 0 currentColor;
            }
        }

        &:last-child::after {
            display: none;
        }

        &::after {
            position: absolute;
            content: "»";
            left: -0.5729vw;
            color: #ffffff;
            font-size: 0.8333vw;
            line-height: 1.5625vw;
        }
    }
}
