.burger {
    height: 4.4444vw;
    width: 8.3333vw;
    justify-content: center;
    align-items: center;
    z-index: 350;
    cursor: pointer;
    transition: all 0.3s;
    display: none;
    position: relative;

    span {
        position: absolute;
        background: #6a3eb3;
        height: 0.8333vw;
        width: 8.3333vw;
        display: block;
        transition: all 0.3s;
        border-radius: 1.3889vw;

        &:nth-child(1) {
            top: 4.4444vw;
        }

        &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
        }

        &:nth-child(3) {
            bottom: 4.4444vw;
        }
    }

    &.active {
        span {
            &:nth-child(1) {
                top: 1.6667vw;
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                bottom: 1.9444vw;
                transform: rotate(-45deg);
            }
        }
    }
}
