.fz65 {
    font-size: 3.3854vw;
    line-height: 2.4vw;
}
.fz50 {
    font-size: 2.6042vw;
    line-height: 1.8vw;
}
.fz24 {
    font-size: 1.25vw;
    line-height: 0.9375vw;
}
.fz20 {
    font-size: 1.0417vw;
    line-height: 1.5625vw;
}
