.header {
    background: #ffffff;
    position: absolute;
    height: 4.2708vw;
    top: 0;
    left: 0;
    width: 100%;
    &.header-scroll {
        position: fixed;
        transform: translateY(-200%);
        z-index: 222222;
        .header-contact {
            height: 4.2708vw;
            &::before {
                display: none;
            }
        }
        .logo {
            height: 4.2708vw;
            width: 3.8542vw;
            padding-top: 0;
            &::before {
                display: none;
            }
            img {
                height: 4.2708vw;
                width: 3.8542vw;
                transform: translateY(-0.2083vw);
            }
        }
    }
    &.header-top {
        transform: translateY(0);
    }
    .container {
        display: flex;
    }
}

.header-contact {
    position: absolute;
    z-index: 1;
    left: 0;
    padding: 1.8229vw 2.6042vw;
    background: linear-gradient(202.45deg, #8432b1 0%, #6a3eb3 100%);
    width: 23.4375vw;
    height: 36.9792vw;
    display: flex;
    z-index: 2;
    top: 0;
    &::before {
        content: "";
        position: absolute;
        background-image: url("../../img/decor/header-contact-decor.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 24.2188vw;
    }
}

.contact-link {
    font-weight: 600;
    font-size: 0.8333vw;
    line-height: 0.3646vw;
    color: #ffffff;
    display: flex;
    height: fit-content;
    align-items: center;
    &::before {
        content: "";
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        margin-left: 0.3646vw;
    }
}

.mail-link {
    &::before {
        background-image: url("../img/icon/mail-link.svg");
        min-width: 0.7292vw;
        height: 0.5208vw;
    }
}
.phone-link {
    padding-left: 0.8333vw;
    border-left: 1px solid #a367ca;
    margin-left: 0.8333vw;
    &::before {
        background-image: url("../img/icon/phone-link.svg");
        min-width: 0.6771vw;
        height: 0.6771vw;
    }
}

.not-main {
    .header-contact {
        height: 4.2708vw;
        &::before {
            display: none;
        }
    }
}

.nav {
    ul {
        display: flex;
        gap: 2.3438vw;
        a {
            padding: 1.8229vw 0;
            font-weight: 400;
            font-size: 1.0417vw;
            line-height: 0.6vw;
            color: #666c77;
            display: block;
            position: relative;
            transition: color 0.3s ease-in-out;
            &::before {
                position: absolute;
                content: "";
                width: 100%;
                background: linear-gradient(
                    202.45deg,
                    #8432b1 0%,
                    #6a3eb3 100%
                );
                height: 1px;
                bottom: -1px;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
            }
            &:hover {
                color: #7639b2;
                &::before {
                    opacity: 1;
                }
            }
        }
    }
}

.logo {
    margin-left: 6.25vw;
    width: 6.0938vw;
    height: 6.3542vw;
    position: relative;
    z-index: 1;
    padding-top: 0.5729vw;
    margin-right: 0.9375vw;
    img {
        width: 6.0938vw;
        height: 6.3542vw;
        object-fit: cover;
    }
    &::before {
        position: absolute;
        content: "";
        background: #ffffff;
        border-radius: 0px 0px 7.8125vw 7.8125vw;
        width: 8.0208vw;
        height: 9.2188vw;
        z-index: -1;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: $table) {
    .nav {
        position: fixed;
        left: 0;
        bottom: 0;
        height: calc(100% - 14.2708vw);
        width: 100%;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        transform: scale(0.8);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        z-index: 10000000;

        &.active {
            transform: scale(1);
            opacity: 1;
            pointer-events: all;
        }
        ul {
            flex-direction: column;
            padding: 13.0208vw 1.9531vw 2.6042vw;
            li {
                text-align: right;
                a {
                    font-size: 7.0417vw;
                    line-height: 5.6vw;
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
    .header-contact {
        position: static;
        width: 100%;
        height: 20vh;
        flex-direction: column;
        padding: 2.6042vw 1.9531vw;
        margin-top: auto;
        row-gap: 2.6042vw;
        &::before {
            display: none;
        }
        a {
            font-size: 7.0417vw;
            line-height: 7vw;
            border: none;
            &::before {
                min-width: 4.6771vw;
                height: 4.6771vw;
                background-size: contain;
                background-position: center;
                margin-left: 0.651vw;
            }
        }
    }
    .mail-link::before {
        transform: translateY(0.5vw);
    }
    .header {
        position: fixed;
        .logo {
            height: 100%;
            width: inherit;
            margin: 0;
            padding: 2vw 0;
            &::before {
                display: none;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .header {
        .burger {
            display: block;
        }
    }
    .header {
        height: 14.2708vw;
        z-index: 2222;
    }
    .header .container {
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
}
