.header {
    background: #ffffff;
    position: relative;
    height: 4.2708vw;
    .container {
        display: flex;
    }
}

.header-contact {
    position: absolute;
    z-index: 1;
    left: 0;
    padding: 1.8229vw 2.6042vw;
    background: linear-gradient(202.45deg, #8432b1 0%, #6a3eb3 100%);
    width: 23.4375vw;
    height: 36.9792vw;
    display: flex;
    z-index: 2;
    top: 0;
    &::before {
        content: "";
        position: absolute;
        background-image: url("../../img/decor/header-contact-decor.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 24.2188vw;
    }
    a {
        font-weight: 600;
        font-size: 0.8333vw;
        line-height: 0.3646vw;
        color: #ffffff;
        display: flex;
        height: fit-content;
        align-items: center;
        &::before {
            content: "";
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            margin-left: 0.3646vw;
        }
    }
}
.mail-link {
    &::before {
        background-image: url("../img/icon/mail-link.svg");
        min-width: 0.7292vw;
        height: 0.5208vw;
    }
}
.phone-link {
    padding-left: 0.8333vw;
    border-left: 1px solid #a367ca;
    margin-left: 0.8333vw;
    &::before {
        background-image: url("../img/icon/phone-link.svg");
        min-width: 0.6771vw;
        height: 0.6771vw;
    }
}
.nav {
    ul {
        display: flex;
        gap: 2.3438vw;
        a {
            padding: 1.8229vw 0;
            font-weight: 400;
            font-size: 1.0417vw;
            line-height: 0.6vw;
            color: #666c77;
            display: block;
            position: relative;
            transition: color 0.3s ease-in-out;
            &::before {
                position: absolute;
                content: "";
                width: 100%;
                background: linear-gradient(
                    202.45deg,
                    #8432b1 0%,
                    #6a3eb3 100%
                );
                height: 1px;
                bottom: 0;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
            }
            &:hover {
                color: #7639b2;
                &::before {
                    opacity: 1;
                }
            }
        }
    }
}

.logo {
    margin-left: 6.25vw;
    width: 5vw;
    height: 5.2083vw;
    position: relative;
    z-index: 1;
    padding-top: 0.5729vw;
    img {
        width: 5vw;
        height: 5.2083vw;
        object-fit: cover;
    }
    &::before {
        position: absolute;
        content: "";
        background: #ffffff;
        border-radius: 0px 0px 7.8125vw 7.8125vw;
        width: 6.5625vw;
        height: 7.5521vw;
        z-index: -1;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
