.partners__wrapper {
    margin-top: 3.6458vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.4583vw;
}
.partners-item {
    background: #ffffff;
    border-radius: 0.625vw;
    width: 17.1354vw;
    height: 9.375vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vw;
    &:hover {
        img {
            filter: grayscale(1);
        }
    }
    img {
        max-width: 100%;
        height: 100%;
        object-fit: scale-down;
        transition: filter 0.3s ease-in-out;
    }
}

.partners-white {
    .partners-item {
        background: #f3f6fb;
    }
}

@media (max-width: $table) {
    .partners__wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 3vw;
        margin-top: 7.6458vw;
    }
    .partners-item {
        padding: 2vw 9vw;
        width: 100%;
        height: 16.375vw;
    }
}
