<div class="modal-video-wrap video-modal" id="video-modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<button class="modal-close" aria-label="Close modal"></button>
			<div class="modal-video">
				<div id="modal-video-iframe"></div>
			</div>
		</div>
	</div>
</div>

<a href="#" class="whatsapp">
	<img src="img/icon/whatsapp.svg" alt="img">
</a>

<footer class="footer corner-decor">
	<div class="container">
		<div class="footer-col">
			<a href="#" class="footer__logo">
				<img loading="lazy" src="img/icon/logo-footer.png" alt="img">
			</a>
			<div class="soc-block">
				<a href="#">
					<img src="img/icon/linkedin.svg" alt="img">
				</a>
				<a href="#">
					<img src="img/icon/twitter.svg" alt="img">
				</a>
				<a href="#">
					<img src="img/icon/instagramm.svg" alt="img">
				</a>
				<a href="#">
					<img src="img/icon/facebook.svg" alt="img">
				</a>
			</div>
			<div class="footer__info">
				<p>כל הזכויות שמורות © 2023</p>
				<div>בניית אתרים - <a href="#">LM Web Solutions</a></div>
			</div>
		</div>
		<div class="footer-col">
			<h3 class="fz24">עבור לקוחות</h3>
			<ul>
				<li><a href="#">עמוד ראשי</a></li>
				<li><a href="#">אודות</a></li>
				<li><a href="#">משכנתאות</a></li>
				<li><a href="#">תכנון פיננסי</a></li>
			</ul>
		</div>

		<div class="footer-col">
			<h3 class="fz24">מעניין</h3>
			<ul>
				<li><a href="#">מאמרים</a></li>
				<li><a href="#">מדיה</a></li>
				<li><a href="#">וובינרים</a></li>
			</ul>
		</div>
		<div class="footer-col">
			<h3 class="fz24">צור איתי קשר</h3>
			<ul>
				<li><a href="tel:0524463466">052-4463466</a></li>
				<li><a href="tel:0522123951">052-2123951</a></li>
				<li><a href="mailto:matan-consult@gmail.com">matan-consult@gmail.com</a></li>
				<li><a href="#">אביב טו 23, עפולה, ישראל</a></li>
			</ul>
		</div>
	</div>
</footer>