<section class="form-sec">
    <div class="container">
        <div class="form">
            <h2 class="form__title fz50">
                שלח את הבקשה שלך
            </h2>
            <div class="form__subtitle">
                השאירו פרטי יצירת קשר ואצור אתכם קשר
            </div>
            <form class="form">
                <div class="form__input">
                    <input name="name" placeholder="השם שלך" type="text">
                </div>
                <div class="form__input">
                    <input name="phone" placeholder="מס' טלפון" type="tel">
                </div>
                <div class="form__input">
                    <input name="email" placeholder="אימייל" type="email">
                </div>
                <button type="submit" class="form__btn btn btn--purple">שלח</button>
            </form>
        </div>
        <div class="form-sec__info">
            <div class="form-sec__descr fz20">
                ותוכלו גם אתם לקבל שירות וליווי מלא לאורך כל התהליך, לחסוך לעצמכם הרבה כאבי ראש ובעיקר – לחסוך המון כסף:
            </div>
            <a href="tel:0524463466" class="phone-link">052-4463466</a>
            <a href="tel:0522123951" class="phone-link">052-2123951</a>
            <a href="mailto:matan-consult@gmail.com" class="mail-link">matan-consult@gmail.com</a>
            <a href="#" class="adress-link">אביב טו 23, עפולה, ישראל</a>
            <div class="form-sec__soc">
                <h3 class="fz20">
                    להירשם לניוזלטר:
                </h3>
                <div class="soc-block">
                    <a href="#">
                        <img src="img/icon/facebook.svg" alt="img">
                    </a>
                    <a href="#">
                        <img src="img/icon/instagramm.svg" alt="img">
                    </a>
                    <a href="#">
                        <img src="img/icon/twitter.svg" alt="img">
                    </a>
                    <a href="#">
                        <img src="img/icon/linkedin.svg" alt="img">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>