<section class="form-sec @class">
    <div class="container">
        <div class="form-sec__wrapper corner-decor">
            <div class="form">
                <h2 class="form__title fz50">
                    @title
                </h2>
                <div class="form__subtitle fz20">
                    השאירו פרטי יצירת קשר ואצור אתכם קשר
                </div>
                <form>
                    <label class="form__input fz20">
                        <input name="name" placeholder="השם שלך" type="text">
                    </label>
                    <label class="form__input fz20">
                        <input name="phone" placeholder="מס' טלפון" type="tel">
                    </label>
                    <label class="form__input fz20">
                        <input name="email" placeholder="אימייל" type="email">
                    </label>
                    <button type="submit" class="form__btn btn btn--purple fz20">שלח</button>
                </form>
            </div>
            <div class="form-sec__info">
                <div class="form-sec__descr fz20 @hide">
                    ותוכלו גם אתם לקבל שירות וליווי מלא לאורך כל התהליך, לחסוך לעצמכם הרבה כאבי ראש ובעיקר – לחסוך המון
                    כסף:
                </div>
                <a href="tel:0524463466" class="contact-link phone-link fz20">052-4463466</a>
                <a href="tel:0522123951" class="contact-link phone-link fz20">052-2123951</a>
                <a href="mailto:matan-consult@gmail.com" class="contact-link mail-link fz20">matan-consult@gmail.com</a>
                <a href="#" class="contact-link adress-link fz20">אביב טו 23, עפולה, ישראל</a>
                <div class="form-sec__soc">
                    <h3 class="fz20">
                        להירשם לניוזלטר:
                    </h3>
                    <div class="soc-block">
                        <a href="#">
                            <img src="img/icon/linkedin.svg" alt="img">
                        </a>
                        <a href="#">
                            <img src="img/icon/twitter.svg" alt="img">
                        </a>
                        <a href="#">
                            <img src="img/icon/instagramm.svg" alt="img">
                        </a>
                        <a href="#">
                            <img src="img/icon/facebook.svg" alt="img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>