<header class="header">
    <div class="container">
        <a href="#" class="logo">
            <img src="img/icon/logo.png" alt="img">
        </a>
        <nav class="nav">
            <ul>
                <li><a href="#">יצירת קשר</a></li>
                <li><a href="#">וובינרים</a></li>
                <li><a href="#">מדיה</a></li>
                <li><a href="#">מאמרים</a></li>
                <li><a href="#">תכנון פיננסי</a></li>
                <li><a class="active-link" href="#">משכנתאות</a></li>
                <li><a href="#">אודות</a></li>
                <li><a href="#">עמוד ראשי</a></li>
            </ul>
        </nav>
        <div class="header-contact" data-da=".nav, 991, 1">
            <a href="tel:0524463466" class="contact-link phone-link">052-4463466</a>
            <a href="mailto:matan-consult@gmail.com" class="contact-link mail-link">matan-consult@gmail.com</a>
        </div>
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>