<div class="wrap-sec sec-p">
    <div class="wrap-sec-bg corner-decor">
        <section class="partners sec-p">
            <div class="container">
                <h2 class="partners__title title text-center fz50">
                    חברות פנסיוני
                </h2>
                <div class="partners__wrapper">
                    <a href="#" class="partners-item">
                        <img loading="lazy" src="img/section/partners-item-icon12.png" alt="img">
                    </a>
                    <a href="#" class="partners-item">
                        <img loading="lazy" src="img/section/partners-item-icon11.png" alt="img">
                    </a>
                    <a href="#" class="partners-item">
                        <img loading="lazy" src="img/section/partners-item-icon10.png" alt="img">
                    </a>
                    <a href="#" class="partners-item">
                        <img loading="lazy" src="img/section/partners-item-icon9.png" alt="img">
                    </a>
                    <a href="#" class="partners-item">
                        <img loading="lazy" src="img/section/partners-item-icon8.png" alt="img">
                    </a>
                    <a href="#" class="partners-item">
                        <img loading="lazy" src="img/section/partners-item-icon7.png" alt="img">
                    </a>
                    <a href="#" class="partners-item">
                        <img loading="lazy" src="img/section/partners-item-icon6.png" alt="img">
                    </a>
                    <a href="#" class="partners-item">
                        <img loading="lazy" src="img/section/partners-item-icon5.png" alt="img">
                    </a>
                    <a href="#" class="partners-item">
                        <img loading="lazy" src="img/section/partners-item-icon4.png" alt="img">
                    </a>
                    <a href="#" class="partners-item">
                        <img loading="lazy" src="img/section/partners-item-icon3.png" alt="img">
                    </a>
                    <a href="#" class="partners-item">
                        <img loading="lazy" src="img/section/partners-item-icon2.png" alt="img">
                    </a>
                    <a href="#" class="partners-item">
                        <img loading="lazy" src="img/section/partners-item-icon.png" alt="img">
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>