<section class="recommend sec-p">
    <div class="container">
        <h2 class="recommend__title title text-center fz50">
            לקוחות ממליצים
        </h2>
        <div class="recommend__wrapper">
            <div class="swiper recommend-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide recommend-item play-btn" data-video-type="youtube"
                        data-video-modal="w1hjz0rrK28">
                        <img loading="lazy" src="img/section/recommend-img.png" alt="img">
                        <div class="recommend-item__btn"></div>
                    </div>
                    <div class="swiper-slide recommend-item play-btn" data-video-type="youtube"
                        data-video-modal="w1hjz0rrK28">
                        <img loading="lazy" src="img/section/recommend-img2.png" alt="img">
                        <div class="recommend-item__btn"></div>
                    </div>
                    <div class="swiper-slide recommend-item play-btn" data-video-type="youtube"
                        data-video-modal="w1hjz0rrK28">
                        <img loading="lazy" src="img/section/recommend-img3.png" alt="img">
                        <div class="recommend-item__btn"></div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>