<section class="subscribe sec-p">
    <div class="container">
        <div class="subscribe__wrapper corner-decor">
            <h2 class="subscribe__title title text-center fz50">
                להירשם לניוזלטר
            </h2>
            <div class="subscribe__subtitle fz20">
                הישאר מעודכן בחדשות האחרונות ואל תפספס שום דבר חשוב!
            </div>
            <div class="subscribe-form">
                <form action="#">
                    <input class="fz20" name="name" id="name" placeholder="האימייל שלך" type="text">
                    <button type="submit" class="btn btn--purple fz20">שלח</button>
                </form>
            </div>
            <div class="subscribe__bottom">
                <p class="fz20">או להצטרף לקבוצת וואטסאפ סודית:</p>
                <a href="#" class="btn btn--whatsapp fz20">
                    <img src="img/icon/whatsapp-icon.svg" alt="img">
                    לְהִצְטַרֵף
                </a>
            </div>
        </div>
    </div>
</section>