* {
    font-family: "Assistant", sans-serif;
}

body {
    &.scroll-hide {
        overflow: hidden;
    }
}

.container {
    max-width: 74.4792vw;
    margin: 0 auto;
    padding: 0 0.7813vw;
    @media (max-width: $table) {
        max-width: calc(100vw - 30px);
    }
}

.page {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 4.2708vw;
    @media (max-width: $table) {
        padding-top: 14.2708vw;
    }
}

.main {
    margin-bottom: auto;
}

.btn {
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0.5208vw;
    width: 13.9583vw;
    height: 3.1771vw;
    border-radius: 1.8229vw;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &.btn--transparent {
        color: #7639b2;
        border: 0.1042vw solid;
        border-image-source: linear-gradient(
                202.45deg,
                #8432b1 0%,
                #6a3eb3 100%
            )
            0.1042vw;
        transition: background 0.3s ease-in-out, color 0.3s ease-in-out,
            border 0.3s ease-in-out;
        &:hover {
            background: #4a2f9f;
            color: #ffffff;
            border: 0.1042vw solid transparent;
        }
    }
    &.btn--purple {
        color: #ffffff;
        &::after {
            position: absolute;
            content: "";
            background: linear-gradient(202.45deg, #8432b1 0%, #6a3eb3 100%);
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -2;
        }
        &::before {
            content: "";
            position: absolute;
            background-image: url("../img/icon/btn-elem.svg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 11.4583vw;
            height: 4.5833vw;
            display: block;
            left: -1.8229vw;
            z-index: -1;
            transition: transform 0.3s ease-in-out;
        }
        &:hover {
            &::before {
                transform: scale(5) translateX(4.5833vw);
            }
        }
    }
    &.btn--whatsapp {
        color: #ffffff;
        img {
            position: absolute;
            right: 1.0417vw;
            width: 1.25vw;
            height: 1.25vw;
        }
        &::after {
            position: absolute;
            content: "";
            background: #25d366;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -2;
        }
        &::before {
            content: "";
            position: absolute;
            background-image: url("../img/icon/btn-elem-green.svg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 11.4583vw;
            height: 4.5833vw;
            display: block;
            left: -1.8229vw;
            z-index: -1;
            transition: transform 0.3s ease-in-out;
        }
        &:hover {
            &::before {
                transform: scale(5) translateX(4.5833vw);
            }
        }
    }
    @media (max-width: $table) {
        width: 40vw;
        height: 8vw;
        border-radius: 4.8229vw;
        &.btn--purple::before {
            width: 37.4583vw;
            height: 27.5833vw;
            left: -22.8229vw;
        }
        &.btn--whatsapp::before {
            width: 37.4583vw;
            height: 27.5833vw;
            left: -22.8229vw;
        }
    }
}

.whatsapp {
    position: fixed;
    left: 1.3021vw;
    bottom: 1.3021vw;
    width: 2.2917vw;
    height: 2.2917vw;
    z-index: 10;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.title {
    font-weight: 700;
    color: #4f5561;
}

.text-center {
    text-align: center;
}

.sec-p {
    padding: 3.25vw 0;
    @media (max-width: $table) {
        padding: 8vw 0;
    }
}

.white-bg {
    background-color: #ffffff;
}

.decor-background {
    position: relative;
    margin-bottom: 1.25vw;
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 0.625vw;
        z-index: -1;
        right: -1.3021vw;
        bottom: -1.3021vw;
        background-color: #e2e7f0;
    }
    @media (max-width: $table) {
        &::before {
            right: -2.3021vw;
            bottom: -2.3021vw;
        }
    }
}

.corner-decor {
    position: relative;
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        background-image: url("../img/decor/corner-decor.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 23.4375vw;
        height: 24.2188vw;
        z-index: -1;
        left: 0;
        bottom: 0;
    }
}

.ofer-block {
    max-width: 28.125vw;
    &.ofer-block-long {
        max-width: 33.125vw;
    }
    .ofer-block__descr {
        margin-top: 1.5625vw;
    }
    .ofer-block__btn {
        margin-top: 1.5625vw;
    }
    .ofer-block__sticker {
        font-weight: 700;
        color: #ffffff;
        padding: 0.7813vw 1.5625vw;
        background: linear-gradient(202.45deg, #8432b1 0%, #6a3eb3 100%);
        border-radius: 0.625vw;
        width: fit-content;
        margin-bottom: 1.0417vw;
    }
    ul {
        li {
            font-weight: 400;
            color: #666c77;
            padding-right: 0.9375vw;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                width: 0.2604vw;
                height: 0.2604vw;
                border-radius: 50%;
                right: 0;
                top: 0.6771vw;
                background-color: #666c77;
            }
        }
    }
    @media (max-width: $table) {
        max-width: 100%;
        padding: 5vw 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        .ofer-block__descr {
            margin-top: 2.5625vw;
        }
        .ofer-block__btn {
            margin-top: 2.5625vw;
        }
    }
}

.wrap-sec {
    .wrap-sec-bg {
        background: #f3f6fb;
        padding: 3.3854vw 0;
    }
    &.form-list {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5.2083vw;
        }
    }
}

.pagination {
    margin: 4.1667vw auto 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    .pagination__arrow {
        width: 1.7708vw;
        height: 1.7708vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
    }
    .arrow-prev {
        background-image: url("../img/icon/pagin-arrow-next.svg");
        margin-left: 1.0417vw;
    }
    .pagination__link {
        font-weight: 400;
        font-size: 0.7292vw;
        line-height: 1.5625vw;
        color: #000000;
        padding: 0 0.5208vw;
        display: block;
    }
    .active {
        width: 1.4063vw;
        height: 1.4063vw;
        background: linear-gradient(202.45deg, #8432b1 0%, #6a3eb3 100%);
        border-radius: 50%;
        color: #ffffff;
        margin: 0 0.5208vw;
        pointer-events: none;
    }
    .dots {
        pointer-events: none;
    }
    .arrow-next {
        background-image: url("../img/icon/pagin-arrow-prev.svg");
        margin-right: 1.0417vw;
    }
}
